.createSubContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 93vh;
}

.createSubForm {
    display: flex;
    flex-direction: column;
    color: black;
    height: 50vh;
    width: 40vw;
    border: solid lightgrey 1px;
    border-radius: 5px;
    background-color: white;
    color: #1072C4;
    padding: 20px;
    justify-content: space-between;
    text-align: center;
}