.postCard{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: left;
    color: black;
    width: 60vw;
    height: fit-content;
    border: solid lightgrey 1px;
    border-radius: 1px;
    background-color: white;
    margin: auto;
    padding: 20px;
    margin-top: 1%;
}

.postCount{
    width: 5%
}

.postPostedHeader {
    display: flex;
    flex-direction: row;
}

.postDetails { 
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: 100%;
}

.postContent {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.postHolder {
    display: flex;
    flex-direction: column;
}

.postSubreddit:hover{
    cursor: pointer;
}

.postUser:hover{
    cursor: pointer;
}

.postUser{
    margin-left: 1%;
}

.postCard:hover{
    cursor: pointer;
}

.postImage {
    height: auto;
    max-width: max-content;
    min-width: 30vw;
}