.subContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subInfo { 
    display: flex;
    flex-direction: row;
    width: 62vw;
    align-items: center;
    justify-content: space-between;
    margin-top: 1%;
}

.subHeader {
    display: flex;
    flex-direction: column;
}

.subFeed {
    display: flex;
    flex-direction: column;
    height: fit-content;
    align-items: center;
    justify-content: center;
    margin-top: 1%;
}